
@{
    ViewBag.Title = "AddProduct";
}

<h2>AddProduct</h2>

<form method="post">
    <label for="prodid">Enter Productid</label>
    <input type="number" name="ProdId" value="" />
    <br />
    <label for="ProdName">Enter ProdName</label>
    <input type="text" name="ProdName" value="" />
    <br />
    <label for="Price">Enter Price</label>
    <input type="number" name="Price" value="" />
    <br />
    <input type="submit" name="AddProduct" value="Insert New Product"/>

d</form>