<h1>@TempData["joiningDate"]</h1>


<h1>Received Employeee Details</h1>
@*<h2>@TempData["receivedEmpData"]</h2>*@
<h2>@ViewBag.myempid</h2>
@*<input type="number" name="data" value="@TempData["myUserData"]" />*@
<form method="post" >
    
    <input type="submit" name="Contact" value="Send Data Ahead to Save Data" />
</form>