@{
    ViewBag.Title = "FindCategory";
}

<h2>FindCategory</h2>

<h1>@ViewBag.errorMsg</h1>
<form method="post">
    <label>Enter CatID</label>
    <input type="number" name="id" value="" />
    <input type="submit" name="FindCategory" value="Find" />
</form>