
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<form method="post">
    <fieldset>
        <legend>Customer Login</legend>
        <label>Enter UserName</label>
        <input type="text" name="UserID" value="" />
        <br/>
        <label>Enter Password</label>
        <input type="password" name="Password" value="" />
        <br />
        <input type="submit" name="Login" value="Click here to Login" />
    </fieldset>
</form>

