
@{
    ViewBag.Title = "SendMessage";
}

<h2>SendMessage</h2>

<form method="post">
    <label>Enter NAme</label>
    <input type="text" name="n" value="" />
    <label>Enter Msg</label>
    <input type="text" name="m" value="" />
    <input type="submit" name="SendMessage" value="Send" />
</form>

