@page
@model FirstRazorPagesDemo.Pages.StartPageModel
@{

    <h1>@StartPageModel.Message</h1>
    <hr/>
    <nav>
        <a href="/AllBooks">Show Books</a>
        <a href="/AddNewBook">New Book Entry</a>

    </nav>
}
